form {
  width: 50%;
  margin: 10% auto;
  min-width: 9rem;
}

input, textarea {
  float: left;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: #e0e0e0;
  color: #7a7a7a;
}
input[type=submit], textarea[type=submit] {
  background: #84AD47;
  color: #fff;
  width: auto;
  float: right;
}
input::placeholder, textarea::placeholder {
  color: #7a7a7a;
}
input.error, textarea.error {
  background: #AD4747;
  color: #fff;
}
input.error::placeholder, textarea.error::placeholder {
  color: black;
}

textarea {
  height: 10rem;
}

.captcha {
  float: left;
}
.captcha input {
  float: right;
}
.captcha input[name=question] {
  width: 4rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  text-align: right;
  padding-right: 0;
}
.captcha [name=captcha] {
  width: 5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 0.5rem;
}
.captcha [name=captcha]::placeholder {
  text-align: center;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}
body {
  padding: 2rem;
  background: #f9f9f9;
  color: #2f2f2f;
  font-family: 'Open Sans';
}

li {
    text-decoration-style: none;
    list-style-type: none;
}

.header {
    text-align: left;
    align-content: left;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

nav:before, nav:after {
  display: table;
  content: " ";
  clear: both;
}

.navicon {
  background: #62A7D5;
  display: none;
  padding: .35em;
}
.navicon:hover {
  cursor: pointer;
}

nav {
  margin: 1em auto;
  width: 95%;
  background: #62A7D5;
  padding: .2em 1%;
}
nav ul {
  text-align: center;
}
nav ul li {
  display: inline-block;
  border-right: 1px solid #8CC0E2;
  padding: 0 2%;
}
nav ul li:last-child {
  border-right: none;
}
nav ul li a {
  display: block;
  padding: 1.5em 1em;
  color: #fff;
  font-family: helvetica;
  text-transform: uppercase;
}

.show {
  height: auto;
  display: block;
}

@media only screen and (max-width: 700px) {
  nav {
    background: #ffffff;
  }

  .navicon {
    display: block;
    float: right;
    color: #ffffff;
    font-size: 2em;
    padding: .3em .6em;
  }

  ul {
    display: none;
  }

  li {
    background: #62A7D5;
    width: 100%;
    border-bottom: 1px solid #8CC0E2;
  }
  li:last-child {
    border-bottom: none;
  }
}
